footer {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    float: left;
    position: relative;
}

.foot-list {
    border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
}

.foot-list ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.foot-list ul li {
    width: 20%;
    text-align: center;
    list-style: none;
    padding: 30px 0;
}

.clickable:hover {
    text-decoration: underline;
}

.foot-info {
    text-align: center;
    padding-bottom: 40px;
}

.foot-info p {
    margin: 8px 0;
    opacity: 0.4;
}

footer ul li a,
footer p,
footer p a {
    text-decoration: none;
    color: white;
}

.foot-social {
    position: absolute;
    right: 45px;
    bottom: 45px;
}

.foot-social li {
    display: inline-block;
    margin: 8px;
}
